<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row topTitle col-md-6">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchingBar" style="background-color:rgba(255, 255, 255, .8)">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
                <th></th>
              </tr>
              <tr ng-repeat="listing in listings | filter:searchingBar | orderBy: 'code'">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td><button ng-click="showDetails(listing)">Show Details</button></td>
                <td><button ng-click="deleteListing(listing)">Remove</button></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron" ng-init="showDetails(listings[0])">
            <h2>Detailed Information</h2>
            <h3>Building: {{nam}}</h3>
            <p>Address: {{add}}</p>
            <p>Latitude: {{lat}}</p>
            <p>Longitude: {{longit}}</p>
          </div>
          <div class="add-listing-wrapper">
        <h4>Add Listing Here:</h4>
         <div class="parameter-wrapper">
          <div>Building Code: </div>
            <input type="text" class="add-listing-control" placeholder="Code" ng-model="newItem1">
          <div>Building Name: </div>
            <input type="text" class="add-listing-control" placeholder="Name" ng-model="newItem2">
          <div>Building Address: </div>
            <input type="text" class="add-listing-control" placeholder="Address" ng-model="newItem3">
          <div>Building Coordinates: </div>
            <input type="text" class="add-listing-control" placeholder="Latitude" ng-model="newItem4">
            <input type="text" class="add-listing-control" placeholder="Longitude" ng-model="newItem5">
         </div>
        <div><button ng-click="addListing()">Add Listing</button></div>
      </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>